<%= form_for @bug do |f| %>
  <% if @bug.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@bug.errors.count, "error") %>:</h4>

      <ul>
        <% @bug.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group tweet-form">
    <div class="h3">Unbreak</div>
    <div class="input-group input-group-lg">
      <span class="input-group-addon">@</span>
      <%= f.text_field :service_twitter, class: "form-control input-lg", placeholder: "Twitter username of product/service/company", maxlength: 50 %>
    </div>
    <div class="h3">by</div>
    <%= f.text_field :short_description, class: "form-control input-lg", placeholder: "What should be done?", maxlength: 100 %>
  </div>

  <div class="form-group">
    <%= f.label :long_description, "Detailed Description" %>
    <%= f.text_area :long_description, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary btn-lg btn-block" %>
  </div>
<% end %>
