<%= form_for @bug do |f| %>
  <% if @bug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bug.errors.count, "errors") %> prohibited this bug from being saved:</h2>

      <ul>
        <% @bug.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group tweet-form">
    <div class="text h3">UNBREAK</div>
    <div class="input-group">
      <span class="input-group-addon">@</span>
      <%= f.text_field :service_twitter, class: "form-control", placeholder: "Twitter username of buggy service" %>
    </div>
    <div class="text h3">BY</div>
    <%= f.text_field :short_description, class: "form-control", placeholder: "What should be done?" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary btn-lg btn-block" %>
  </div>
<% end %>
